<!DOCTYPE html>
<html>
<head>
  <title>Controlroom</title>
  <%= stylesheet_link_tag    "controlroom/application", media: "all" %>
  <%= javascript_include_tag "controlroom/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
